body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../capa4.jpg");


}
