body 
{
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        background-position: center;
        background-attachment: fixed;
        background-image: url("capa4.jpg");
    
    }


nav ul {

    background-image: url("capa21.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    opacity: 85%;

   
}

a{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
    color: white;
    text-decoration: none;
}




header div img {

    background-image: url("perfil2.jpg");
    opacity: 70%;
    padding: 0px;
    width: auto;
    height: 500px;
 }



nav a:hover {
    color: greenyellow
    
}



.center {
    text-align: center;
    padding: 100px;
}




   
video {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 600px;
    
    
  
   
    
}



main {
    
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    
}




footer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.container {
 text-align: center;  
 width: auto;
 padding: 50px;

 }

div img  {
    height: 400px;   
    padding: 50px;
    opacity: 70%;
 
    
    
}

iframe {
 
   width: 800px;
   height: 400px;
   padding: 150px;   
   opacity: 75%;
}


h3{
text-align: left;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


audio {
    display: flex;
    text-align: left;
    
   
 
 }


 p {
    background-color: black;
    opacity: 65%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 6%;
    padding: 50px;

}


 div h5{
    margin: 30px;
    background-color: black;
    opacity: 65%;
    padding: 60px 300px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }




h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-shadow: crimson;
    text-align: center;
}

small a:hover {
  
    background-position: 50px;
    color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
    
}


footer img {
    width: auto;
    height: 40px;
    
}